<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>About</title>
</head>
<body>
    <main>
        <header>{{>header}}</header>
        <p>This site was created by Ben Vilvens. It uses data from mapbox.com and weatherstack.com</p>
        <img src="img/robot.png">
        <footer>{{>footer}}</footer>
    </main>
</body>
</html>