<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather</title>
</head>
<body>
    <main>
        <header>
            {{>header}}
            <p>Type in a location to get the current weather forecast</p>
            <form>
                <input type="text" placeholder='Location'>
                <button>Search</button>
            </form>

            <p id='message-1'></p>
            <img id="weather-icon" src="" alt="weather_icon" style="visibility: hidden;">
            <p id='message-2'></p>
        </header>
        <footer>
            {{>footer}}
        </footer>
    </main>
    <script src="js/app.js"></script>
</body>
</html>